notes/n8n-devlab-task-notification-workflow.json
{
  "name": "Devlab Task Notification v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "devlab-task-done",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "devlab-task-done"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.channels }}",
              "rightValue": "telegram",
              "operator": { "type": "array", "operation": "contains", "rightType": "string" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-telegram",
      "name": "If Telegram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [250, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.channels }}",
              "rightValue": "slack",
              "operator": { "type": "array", "operation": "contains", "rightType": "string" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-slack",
      "name": "If Slack",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [250, 100]
    },
    {
      "parameters": {
        "chatId": "-5220953064",
        "text": "={{ '@chill_forge_bot\\n\\n[devlab] ' + ($json.body.task_name || 'unknown') + ' \\u2014 ' + (($json.body.status || 'unknown')).toUpperCase() + '\\nTriggered by: ' + ($json.body.triggered_by || 'Forge') + '\\nAgent: ' + ($json.body.agent || '?') + ' | Model: ' + ($json.body.model || 'sonnet') + '\\nCost: $' + ($json.body.cost_usd || '?') + ' | Duration: ' + ($json.body.duration || '?') + '\\n\\n' + ($json.body.result_summary || 'No summary') }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, -100],
      "credentials": {
        "telegramApi": {
          "id": "AyMtK1YRDVL5AyGw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ ($json.body.triggered_by || 'forge').toLowerCase() === 'forge' ? 'C0AJBDJSBNU' : ($json.body.triggered_by || '').toLowerCase() === 'chill' ? 'C0AHDP9TK0V' : 'C0AHCC6DF7B' }}",
          "mode": "id"
        },
        "text": "={{ '[devlab] ' + ($json.body.task_name || 'unknown') + ' \\u2014 ' + (($json.body.status || 'unknown')).toUpperCase() + '\\nTriggered by: ' + ($json.body.triggered_by || 'Forge') + '\\nAgent: ' + ($json.body.agent || '?') + ' | Model: ' + ($json.body.model || 'sonnet') + '\\nCost: $' + ($json.body.cost_usd || '?') + ' | Duration: ' + ($json.body.duration || '?') + '\\n\\n' + ($json.body.result_summary || 'No summary') }}",
        "otherOptions": {}
      },
      "id": "slack-send",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [500, 100],
      "credentials": {
        "slackApi": {
          "id": "hQXS4LOQxKH37gwG",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "If Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Slack": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}